<section id="news" class="py-5 px-4 sm:px-6 lg:px-8 bg-light mt-5">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="h3 font-weight-bold text-dark mb-2">Novedades musicales</h2>
      <p class="text-muted max-w-2xl mx-auto">
        Aquí te traemos las novedades musicales de la música urbana y electrónica de los artistas que pertenecen a la
        familia Golden.
      </p>
    </div>

     @if(isAdmin$ | async){
        <button class="btn btn-primary mb-3" (click)="addMusicNew()">
          <i class="bi bi-plus-circle"></i> Añadir noticia
        </button>
        }

    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for ( new of news; track $index) {
      <app-card
      [id]="new.id"
      [title]="new.title"
      [content]="new.content"
      [imageUrl]="new.imageUrl"
      [createdAt]="new.createdAt"
      [musicUrl]="new.musicUrl"
      [releaseDate]="new.releaseDate"
      [isAdmin]="(isAdmin$ | async) ?? false"
      >
      </app-card>
      }
    </div>

  </div>
</section>
