<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Golden Poverty Brand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <i class="bi bi-list text-white fs-2"></i>
    </button>
    <div class="collapse navbar-collapse  text-end" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link-golden pb-1" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-golden pb-1" routerLink="/news" routerLinkActive="active">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-golden pb-1" routerLink="/support" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link-golden pb-1" routerLink="/about" routerLinkActive="active">Golden Family</a>
        </li>
        <li class="nav-item">
          <app-login-modal></app-login-modal>
        </li>
      </ul>
    </div>
  </div>
</nav>
