.card {
  border-radius: 12px;
  overflow: hidden;
  background-color: #f6e8d5; /* Color claro */
  border: 1px solid #ead7a4;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.015);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
}

.card .aspect-ratio-16-9 {
  height: 200px;
  background-color: #ead7a4; /* Color claro */
  position: relative;
}

.card .btn-link {
  text-decoration: none;
  font-weight: 500;
}

.card .btn-link:hover {
  text-decoration: underline;
}

.bg-highlight {
  background-color: #d4b163 !important;
}
