<section class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-header mt-5">
          <h2>Editar Producto</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" formControlName="name" />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Precio</label>
              <input type="number" class="form-control" id="price" formControlName="price" />
            </div>

            <div class="mb-3">
              <label for="category" class="form-label">Categoría</label>
              <select class="form-select" id="category" formControlName="category">
                <option value="" disabled selected>Selecciona una categoría</option>
                @for (c of categories; track c.id) {
                <option [value]="c.id">{{ c.name }}</option>
                }
              </select>
            </div>

            <div class="mb-3">
              <label for="frontImage" class="form-label">Foto de portada</label>
              <input type="file" (change)="onFileChange($event)" class="form-control" id="frontImage"
                formControlName="frontImage" accept="image/*" />
              <img [src]="newFoto ? 'data:image/jpeg;base64,' + newFoto : apiUrl + product.frontImage"
                alt="Vista previa foto de portada"
                style="max-width: 120px; max-height: 120px; object-fit: contain; border: 1px solid #ccc; border-radius: 4px;" />
            </div>

            <div class="d-flex gap-2 justify-content-end">
              <button type="button" class="btn btn-secondary" (click)="cancelar()">
                Cancelar
              </button>
              <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
