.btn {
  background-color: #CCAB62;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
  background-color: #957635;
}

.card {
  transition: transform 0.2s;
  border-radius: 12px;
}

.card:hover {
  transform: scale(1.02);
}

ul {
  padding-left: 0;
}

li {
  margin-bottom: 0.5rem;
}

